In [1]:
import sys
sys.path.append("../")
import get_data
import config
import utils

In [2]:
get_data.test2()

test2 asdf

In [3]:
config.connect()

In [4]:
banks_meta = get_data.read_meta()

In [5]:
ric_equity = get_data.ric_equity(banks_meta)
ric_equity[0:5]

no RIC available for Piraeus Financial Holdings S.A.
no RIC available for Bank of Cyprus Holdings Public Limited Company
no RIC available for Akcinė bendrovė Šiaulių bankas
no RIC available for BAWAG Group AG
no RIC available for Erste Group Bank AG
no RIC available for Raiffeisen Bank International AG
no RIC available for Banco Comercial Português, S.A.
no RIC available for Nova Ljubljanska banka d.d., Ljubljana

['JPM.N', 'BAC.N', 'C.N', 'HSBC.N', '3988.HK']

In [6]:
ric_cds = get_data.ric_cds(ric_equity)
ric_cds[0:5]

['JPM5YUSAX=R', 'BAC5YUSAX=R', 'C5YUSAX=R', 'HSBA5YEUAM=R', 'BKCH5YUSAC=R']

In [7]:
cds = get_data.get_cds(ric_cds)
cds

2024-04-18 16:45:03,383 P[50660] [MainThread 8400272064] Backend error. 500 Internal Server Error
2024-04-18 16:45:33,917 P[50660] [MainThread 8400272064] Error with MTFB5YJPAC=R: No data available for the requested date range
2024-04-18 16:45:33,918 P[50660] [MainThread 8400272064] MTFB5YJPAC=R: No data available for the requested date range |
2024-04-18 16:45:34,467 P[50660] [MainThread 8400272064] Error with MTFB5YJPAC=R: No data available for the requested date range
2024-04-18 16:45:34,469 P[50660] [MainThread 8400272064] MTFB5YJPAC=R: No data available for the requested date range |
2024-04-18 16:45:34,656 P[50660] [MainThread 8400272064] Error with AGBK5YUSAC=: No data available for the requested date range
2024-04-18 16:45:34,656 P[50660] [MainThread 8400272064] AGBK5YUSAC=: No data available for the requested date range |
2024-04-18 16:45:34,966 P[50660] [MainThread 8400272064] Error with AGBK5YUSAC=: No data available for the requested date range
2024-04-18 16:45:34,967 P[50660] [MainThread 8400272064] AGBK5YUSAC=: No data available for the requested date range |
2024-04-18 16:45:35,382 P[50660] [MainThread 8400272064] Error with BK5YUSAX=MG: No data available for the requested date range
2024-04-18 16:45:35,383 P[50660] [MainThread 8400272064] BK5YUSAX=MG: No data available for the requested date range |
2024-04-18 16:45:38,410 P[50660] [MainThread 8400272064] Error with MZFG5YJPAC=: No data available for the requested date range
2024-04-18 16:45:38,411 P[50660] [MainThread 8400272064] MZFG5YJPAC=: No data available for the requested date range |
2024-04-18 16:45:39,102 P[50660] [MainThread 8400272064] Error with RY5YUSAX=R: No data available for the requested date range
2024-04-18 16:45:39,103 P[50660] [MainThread 8400272064] RY5YUSAX=R: No data available for the requested date range |
2024-04-18 16:45:39,328 P[50660] [MainThread 8400272064] Error with RY5YUSAX=R: No data available for the requested date range
2024-04-18 16:45:39,329 P[50660] [MainThread 8400272064] RY5YUSAX=R: No data available for the requested date range |
2024-04-18 16:45:41,932 P[50660] [MainThread 8400272064] Error with SUMB5YUSAC=MP: The user does not have permission for the requested data
2024-04-18 16:45:41,933 P[50660] [MainThread 8400272064] SUMB5YUSAC=MP: The user does not have permission for the requested data |
2024-04-18 16:45:42,159 P[50660] [MainThread 8400272064] Error with SUMB5YUSAC=MP: The user does not have permission for the requested data
2024-04-18 16:45:42,160 P[50660] [MainThread 8400272064] SUMB5YUSAC=MP: The user does not have permission for the requested data |
2024-04-18 16:45:49,124 P[50660] [MainThread 8400272064] Error with KBC5YEUAM=MP: The user does not have permission for the requested data
2024-04-18 16:45:49,125 P[50660] [MainThread 8400272064] KBC5YEUAM=MP: The user does not have permission for the requested data |
2024-04-18 16:45:51,667 P[50660] [MainThread 8400272064] Error with ACBA5YEUAM=TU: No data available for the requested date range
2024-04-18 16:45:51,668 P[50660] [MainThread 8400272064] ACBA5YEUAM=TU: No data available for the requested date range |
2024-04-18 16:45:58,936 P[50660] [MainThread 8400272064] Error with CABM5YEUAM=MP: The user does not have permission for the requested data
2024-04-18 16:45:58,936 P[50660] [MainThread 8400272064] CABM5YEUAM=MP: The user does not have permission for the requested data |
2024-04-18 16:46:20,843 P[50660] [MainThread 8400272064] UDF Core request failed. Gateway Time-out
2024-04-18 16:46:39,990 P[50660] [MainThread 8400272064] UDF Core request failed. Gateway Time-out

                     date   value            ric
0     2012-01-02 00:00:00  142.31    JPM5YUSAX=R
1     2012-01-03 00:00:00   136.5    JPM5YUSAX=R
2     2012-01-04 00:00:00  136.89    JPM5YUSAX=R
3     2012-01-05 00:00:00  134.95    JPM5YUSAX=R
4     2012-01-06 00:00:00  129.09    JPM5YUSAX=R
...                   ...     ...            ...
2557  2021-11-09 00:00:00   59.58   BCIN5YEUAM=R
2558  2021-11-10 00:00:00   59.58   BCIN5YEUAM=R
2559  2021-11-11 00:00:00   60.58   BCIN5YEUAM=R
0              2012-01-01    <NA>   MDBI5YEUAM=R
0              2012-01-01    <NA>  AAHR5YEUAM=MP

[80811 rows x 3 columns]

In [8]:
utils.export_csv(cds, "dataset_cds")

In [9]:
p2b = get_data.get_price_to_book(ric_equity)
p2b

           ric                  date             value
0        JPM.N  2024-04-17T00:00:00Z   1.6858668109814
1        JPM.N  2024-04-16T00:00:00Z  1.69260728246022
2        JPM.N  2024-04-15T00:00:00Z  1.71217337328069
3        JPM.N  2024-04-12T00:00:00Z  1.71123719668641
4        JPM.N  2024-04-11T00:00:00Z  1.87099512445476
...        ...                   ...               ...
96421  ABNd.AS  2018-08-10T00:00:00Z   1.1486174648394
96422  ABNd.AS  2018-08-09T00:00:00Z  1.19063409690073
96423  ABNd.AS  2018-08-08T00:00:00Z  1.17939709065177
96424  ABNd.AS  2018-08-07T00:00:00Z  1.12850306300262
96425  ABNd.AS  2018-08-06T00:00:00Z  1.12898677627438

[96426 rows x 3 columns]

In [10]:
utils.export_csv(p2b, "dataset_p2b")